<footer class="footer">
  <div class="container">
    <div class="footer-row-1 flex">
      <div class="nav-info">
        <nav class="nav">
          <ul class="flex">
            <li><a class="text-white" href="index.html">首頁</a></li>
            <li><a class="text-white" href="#">系列鏡框</a></li>
            <li><a class="text-white" href="store.html">門市據點</a></li>
            <li><a class="text-white" href="blog.html">部落格</a></li>
            <li><a class="text-white" href="faq.html">常見問題</a></li>
          </ul>
        </nav>
        <div class="info">
          <a class="tel text-xl text-white flex items-center" href="tel:0800-000-000">
            <span class="material-symbols-outlined">
              call
            </span>
            0800-000-000
          </a>
          <a class="mail text-xl text-white flex items-center" href="mailto:glasses@business.com">
            <span class="material-symbols-outlined">
              mail
            </span>
            glasses@business.com
          </a>
        </div>
      </div>
      <ul class="social-icons flex">
        <li class="social-icon">
          <a href="#">
            <img class="social-icon-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
              alt="facebook">
          </a>
        </li>
        <li class="social-icon">
          <a href="#">
            <img class="social-icon-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
              alt="instagram">
          </a>
        </li>
        <li class="social-icon">
          <a href="#">
            <img class="social-icon-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
              alt="line">
          </a>
        </li>
      </ul>
    </div>


    <hr class="hr">

    <div class="footer-row-2">
      <p class="text-white">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="legal flex">
        <li><a class="text-white" href="#">隱私權政策</a></li>
        <li><a class="text-white" href="#">服務條款</a></li>
      </ul>
    </div>


  </div>
</footer>