<header class="header">
  <div class="container flex justify-between items-center">
    <a href="index.html">
      <h1><img class="logo" src="../assets/images/logo.png" alt="logo"></h1>
    </a>
    <nav class="main-nav">
      <ul class="main-menu flex ">
        <li><a class="text-white text-md" href="#">系列鏡框</a></li>
        <li><a class="text-white text-md" href="store.html">門市據點</a></li>
        <li><a class="text-white text-md" href="blog.html">部落格</a></li>
        <li><a class="text-white text-md" href="faq.html">常見問題</a></li>
      </ul>
    </nav>
  </div>
</header>